
body{
    background-image: url(background.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    background-color: transparent!important;
    margin-top: 25px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    width: 10%;
    margin-left: 3%;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
    font-size: 20px;
    width: 100%;
}

.icon{
    color: rgb(20,185,127);
    font-size: 30px;
}

.login-link{
    background-color: rgb(20,185,127);
    border-radius: 2rem;
    color: white;
    width: 200px;
}

.nav-item{
    text-align: center;
}

.main-container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    min-height: 800px;
    position: relative;
}

.home-header{
    font-size: 2rem;
}

.home-description{
    color: black;
    z-index: 2;
    font-size: 1.3rem;
    opacity: 0.9;
    font-weight: 600;
}

.home-caption{
    color: black;
    z-index: 2;
    font-size: 1.5rem;
    opacity: 0.9;
    font-weight: 600;
}

.home-container {
    z-index: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    margin-top: 35px;
    padding: 3rem;
    border-radius: 2rem;
    height: fit-content;
    position: relative;
    left: 25%;
}

.form-header{
    font-size: 2rem;
}

.form-container{
    margin-top: 90px;
    width: 25%;
    height: 600px;
    position: relative;
    left: 22%;
    /* top: 0%; */
}

.form-floating>.form-control, .form-floating>.form-select {
    height: calc(2.7rem + 2px);
    line-height: 1.25;
}

.form-floating>label {
    position: absolute;
    top: 0px;
    font-size: 14px;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

.gender-selection{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin: 0!important;
    flex-wrap: wrap;
}

.gender-selection>div{
    margin-left: 10px;
}

.form-container>p{
    font-size: 1.6rem;
}

.form-register>button{
    width: 60%;
    margin-left: 25%;
    background: #21a87b;
    border: none;
}

.form-register>button:hover{
    cursor: pointer;
    background: #21a87b;
}

.footer-container{
    position: relative;
    top: -120px;
    width: 50%;
    left: 62%;
    transform: translateX(-50%);
    font-size: 1.5rem;
}

#messages-container{
    /* margin: 0px auto; */
    /* text-align: center; */
    font-size: 2rem;
    /* background-color: #b88806; */
    position: absolute;
    /* text-align: center; */
    width: fit-content;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
}

.login-button>a{
    color: white;
    text-decoration: none;
}
@media  screen and (max-width: 1700px){
    .home-container{
        margin-top: 35px;
    }
    .form-container{
        margin-top: 90px;
    }
    .home-header{
        font-size: 35px;
    }
    .home-description{
        font-size: 20px;
    }
    .home-caption{
        font-size: 21px;
    }
    .form-register>button{
        font-size: 16px;
    }
    .form-container>button{
        font-size: 16px;
    }
    .form-container>p{
        font-size: 26px;
    }
    .footer-container{
        top: -120px;
    }
    .footer-description{
        font-size: 20px;
    }
    .navbar-nav{
        width: 100%;
        font-size: 20px;
    }
    .login-link{
        width: 200px;
    }
    #messages-container{
        top: 110px;
        font-size: 2rem;
    }
}

@media  screen and (max-width: 1350px){
    .home-container{
        margin-top: 35px;
    }
    .form-container{
        margin-top: 77px;
    }
    .home-header{
        font-size: 30px;
    }
    .home-description{
        font-size: 20px;
    }
    .home-caption{
        font-size: 20px;
    }
    .form-register>button{
        font-size: 16px;
    }
    .form-container>button{
        font-size: 16px;
    }
    .form-container>p{
        font-size: 20px;
    }
    .footer-description{
        font-size: 16px;
    }
    .footer-container{
        top: -120px;
    }
    .navbar-nav{
        width: 100%;
        font-size: 18px;
    }
    .login-link{
        width: 200px;
    }
    #messages-container{
        top: 110px;
        font-size: 2rem;
    }
}
@media  screen and (max-width: 1000px){
    .home-container{
        margin-top: 35px;
    }
    .form-container{
        margin-top: 90px;
    }
    .home-header{
        font-size: 28px;
    }
    .home-description{
        font-size: 18px;
    }
    .home-caption{
        font-size: 18px;
    }
    .form-register>button{
        font-size: 16px;
    }
    .form-container>button{
        font-size: 16px;
    }
    .form-container>p{
        font-size: 17px;
    }
    .footer-container{
        top: -110px;
    }
    .footer-description{
        font-size: 16px;
    }
    .navbar-nav{
        width: 80%;
        left: 10%;
        font-size: 18px;
    }
    .login-link{
        width: 180px;
    }
    #messages-container{
        top: 105px;
        font-size: 2rem;
    }
}
@media  screen and (max-width: 800px){
    .home-container{
        margin-top: 35px;
    }
    .form-container{
        margin-top: 95px;
    }
    .home-header{
        font-size: 25px;
    }
    .home-description{
        font-size: 15px;
    }
    .home-caption{
        font-size: 15px;
    }
    .form-register>button{
        font-size: 16px;
    }
    .form-container>button{
        font-size: 16px;
    }
    .form-container>p{
        font-size: 17px;
    }
    .footer-container{
        top: -85px;
    }
    .footer-description{
        font-size: 16px;
    }
    .navbar-nav{
        width: 80%;
        left: 10%;
        font-size: 16px;
    }
    .login-link{
        width: 160px;
    }
    #messages-container{
        top: 115px;
        font-size: 24px;
    }
}
@media screen and (max-width: 600px){
    .home-container{
        margin-top: 20px;
    }
    .form-container{
        margin-top: 90px;
    }
    .home-header{
        font-size: 20px;
    }
    .home-description{
        font-size: 12px;
    }
    .home-caption{
        font-size: 12px;
    }
    .form-register>button{
        font-size: 16px;
    }
    .form-container>button{
        font-size: 16px;
    }
    .form-container>p{
        font-size: 15px;
    }
    .footer-container{
        top: -76px;
    }
    .footer-description{
        font-size: 15px;
    }
    .navbar-nav{
        width: 80%;
        left: 10%;
        font-size: 16px;
    }
    .login-link{
        width: 140px;
    }
    #messages-container{
        top: 120px;
        font-size: 20px;
    }
}
@media  screen and (max-width: 400px){
    .home-container{
        margin-top: 35px;
    }
    .form-container{
        margin-top: 90px;
    }
    .home-header{
        font-size: 30px;
    }
    .home-description{
        font-size: 1.5rem;
    }
    .home-caption{
        font-size: 1.5rem;
    }
    .form-register>button{
        font-size: 16px;
    }
    .form-container>button{
        font-size: 16px;
    }
    .form-container>p{
        font-size: 14px;
    }
    .footer-container{
        top: -120px;
    }
    .footer-description{
        font-size: 16px;
    }
    .navbar-nav{
        width: 80%;
        left: 10%;
        font-size: 14px;
    }
    .login-link{
        width: 120px;
    }
    #messages-container{
        top: 95px;
        font-size: 20px;
    }
}

@media (min-width: 0px){
    .navbar-expand-sm {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-sm .navbar-toggler {
        display: none;
    }
    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-sm .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .navbar-nav{
        width: 80%;
        margin-left: 20%;
    }
    .login-link{
        width: 100px;
    }
}