
body{
    background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
}

.icon{
    color: #f8b707;
    font-size: 30px;
}

#navbar{
    display: flex;
    justify-content: space-between;
}

.nav-item{
    text-align: center;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 800px;
}

.home-description{
    color: black;
    z-index: 2;
    font-size: 2rem;
    opacity: 0.9;
    font-weight: 600;
}

.home-caption{
    color: black;
    z-index: 2;
    font-size: 1.5rem;
    opacity: 0.9;
    font-weight: 600;
}

.home-container {
    background-image: url(chat_app_background.jpg);
    z-index: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 2rem;
    height: fit-content;
}

.form-header{
    font-size: 2rem;
}

.form-container{
    margin-top: 3rem;
    width: 30%;
    height: 600px;
}

.gender-selection{
    display: flex;
    flex-direction: row;
}

.gender-selection>div{
    margin-left: 1em;
}

.form-container>p{
    font-size: 1.5rem;
}

.form-container>button{
    background: darkgoldenrod;
    width: 60%;
    border: 2px solid goldenrod;
}

.form-container>button:hover{
    background: goldenrod;
    border: 2px solid goldenrod;
}

.form-register>button{
    width: 60%;
    margin-left: 25%;
    background: darkgoldenrod;
    border: 2px solid goldenrod;
}

.form-register>button:hover{
    background: goldenrod;
    border: 2px solid goldenrod;
}

#messages-container{
    margin: auto;
    text-align: center;
    font-size: 2rem;
    background-color: #b88806;
}

.login-button>a{
    color: white;
    text-decoration: none;
}


@media  screen and (max-width: 1000px){
    .home-description{
        font-size: 1.5rem;
    }
    .form-register>button{
        font-size: 16px;
    }
    .form-container>button{
        font-size: 16px;
    }
}
@media  screen and (max-width: 800px){
    .home-description{
        font-size: 1.2rem;
    }
    .form-register>button{
        font-size: 14px;
    }
    .form-container>button{
        font-size: 14px;
    }
}
@media screen and (max-width: 600px){
    .home-description{
        font-size: 1rem;
    }
    .form-register>button{
        font-size: 12px;
    }
    .form-container>button{
        font-size: 12px;
    }
}
@media  screen and (max-width: 400px){
    .home-description{
        font-size: 0.7rem;
    }
}